<div id="auth-container" class="lg:flex bg-primary  min-h-screen">
    <div class="w-full bg-cover bg-center  grid place-content-center" style="background-image: url(../../assets/backgrounds/fondo-pasillo-vacio.webp);">
        <div class="card-form">

            <router-outlet></router-outlet>
        </div>
        
    </div>
    <span class="text-xs absolute bottom-0">Imagen de <a href="https://www.freepik.es/foto-gratis/fondo-pasillo-vacio_26406114.htm#query=hospital&position=0&from_view=search&track=sph">Freepik</a></span>
</div>